{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Welcome | {{ block.super }}{% endblock %}

<style>
  {% block style %}

  {% endblock %}
</style>


{% block jumbotron %}


<div class="jumbotron">
  <div class="container">
    <h1>Welcome to Venture Hub</h1>

      <p>Find, feed, and slay the mythical creature</p>
      <p>
        <a class="btn btn-lg btn-warning" href="{% url 'startup_index_view' %}" role="button">View Startups &raquo;</a>
      </p>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
  <!-- <div class="col-sm-3 pull-right">
    <p class="lead text-align-center">{{ title }}</p>

    <form method="POST" action="">{% csrf_token %}

      {{ form|crispy }}
      <input class='btn btn-primary' type="submit" value="Sign up!"/>
    </form>
  </div> -->

<br>
<br>
  <div class="col-sm-4 text-align-center">
    <i class="fa fa-binoculars fa-4x"></i>
    <p class="lead text-align-center">Find the next unicorns
    </p>
    <p>We are very much alike, you and i, i and you... us. holy jesus. what are these goddamn animals? hey, maybe i will give you a call sometime. your number still 911? brain freeze. look ma i'm road kill holy jesus.<p>
  </div>

  <div class="col-sm-4 text-align-center">
    <i class="fa fa-bar-chart fa-4x"></i>
    <p class="lead text-align-center">Learn about startups</p>
    <p>Ride on the information super highway. do you like my meadow? try some of my grass! your entrance was good, his was better. we got no food we got no money and our pets heads are falling off! haaaaaaarry</p>
  </div>

  <div class="col-sm-4 text-align-center">
    <i class="fa fa-magic fa-4x"></i>
    <p class="lead text-align-center">Slay the mythical creatures</p>
    <p>look at that. a drug person can learn to cope with things like seeing their dead grandmother crawling up their leg with a knife in her teeth. but no one should be asked to handle this trip. giddy-up...</p>
  </div>

</div>
{% endblock %}
