* {
	font-family: "Lato", sans-serif;
	.thumbnail p {
		font-family: "Lato", sans-serif;
	}
	.col-md-6 p {
		font-family: "Lato", sans-serif;
	}
}

body {
	background-color: #F9F9F9;
	color: #565A5C;
  min-height: 1200px;
}

.text-align-center {
  text-align: center;
}

.navbar-default {
  background-color: #00796B;
  color: #FFFFFF;
  border-radius: 0;
  border: 0;
  z-index: 1;
}

.navbar-static-top {
  margin-bottom: 0px !important;
}

.navbar-default > a {
  color: #FFFFFF;
}

.navbar-default .navbar-brand {
    color: #FFFFFF;
    font-weight: 700;
}

.navbar-default .navbar-brand:hover {
  color: #FFFFFF;
  font-weight: 700;
}

.navbar-default .navbar-nav>li>a {
  color: #FFFFFF;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #FFC107;
}

.jumbotron {
	position: relative;
	top: -3vh;
	height: 90vh;
	z-index: 0;
	margin: 0 auto;
  color: white;
	background: url("../img/unicorn2.jpg") no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.jumbotron h1 {
		text-align: center;
		font-weight: 700;
		color: #FFFFFF;
		position: relative;
		top: 30vh;
    font-size: 70px;
	}

.jumbotron p {
		text-align: center;
		font-family: "Open sans", sans-serif;
		color: #FFFFFF;
		position: relative;
		top: 30vh;
	}

.jumbotron .btn-warning {
		position: relative;
		color: #FFFFFF;
		font-size: 15px;
		opacity: 0.9;
		border-radius: 3px;
		top: 0vh;
		-webkit-transition: background-color .2s ease-in-out;
		-moz-transition: background-color .2s ease-in-out;
    	transition: background-color .2s ease-in-out;
	}

.jumbotron .btn-warning:hover {
		background-color: #EC971F;
	}

.fa {
  color: #009688;
}
