{% extends "base.html" %}

{% block content %}

<br><br><br>
<h1>Upvote the Next Unicorns</h1>
<br>
  <div class="row">
    {% for instance in object_list %}
      <div class="col-md-4">
        <div class="thumbnail">
          <i class="fa fa-rocket fa-5x text-center"></i>
          <!-- logo should go here -->
          <div class="caption">
            <br>
            <br><p><i class="fa fa-chevron-up fa-1x"></i> {% if request.user.is_authenticated %}<a href="/startup/{{ instance.pk }}/" class="list-links"><strong>{{ instance }}</strong> <br> <i class="fa fa-chevron-down fa-1x"></i> {{instance.description}} </a>{% else %}<a class="list-links"><strong>{{ instance }}</strong> <br> {{instance.description}} </a>{% endif %}</p>
            {% if request.user.is_authenticated %}
            <p><a href="{% url 'update_view' instance.id %}"><i class="fa fa-pencil-square-o"></i></a> &nbsp; | &nbsp; <a href="{% url 'startup_delete' instance.id %}"><i class="fa fa-trash"></i></a></p>
            {% endif %}
          </div>
      </div>
    </div>
    {% endfor %}
  </div>

{% endblock content %}
