{% extends "base.html" %}

{% block content %}

<br><br><br>
<h1>Upvote the Next Unicorns</h1>
<br>
  <div class="row">
    {% for instance in object_list %}
      <div class="col-md-4">
        <div class="thumbnail">
          <!-- logo should go here -->
          <div class="caption">
            <p><a href="/startup/{{ instance.pk }}/" class="list-links"><strong>{{ instance }}</strong> <br> {{instance.description}}</a></p>
          </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock content %}
